@import url('https://fonts.googleapis.com/css?family=Lato'); /*@import url('https://fonts.google.com/selection?selection.family=Lato');*/



header{
    background: url("images/header-page.jpg") no-repeat;
    height: 130px;
    width: 940px;
    margin: 0 auto;
}
nav {
    width: 940px;
    margin: 2px auto;
    background: url("images/header-page.jpg") no-repeat;
}

/*nav ul li {*/
    /*display: inline-block;*/
    /*padding: 5px 25px;*/
/*}*/

/*nav ul li a {*/
    /*color: white;*/
    /*text-decoration: none;*/
    /*font-size: 1.3em;*/
/*}*/



/*main {*/
    /*background-color: #ffffff;*/
    /*width: 890px;*/
    /*padding: 0 25px 0;*/
    /*margin: 0 auto;*/
/*}*/

/*.courses {*/
    /*padding-top: 25px;*/
    /*width: 70%;*/
    /*display: inline-block;*/
    /*border-right: 1px solid #DDD;*/
/*}*/

/*aside {*/
    /*width: 23%;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding-left: 20px;*/
    /*padding-top: 55px;*/
    /*color: #D9527A;*/
/*}*/

figure {
    border: 1px solid #DDDDDD;
    padding: 5px;
    float: left;
    margin-right: 20px;
}

figcaption {
    color: #84818B;
    font-size: 1.3em;
    font-weight: bold;
}
/*article {*/
    /*margin-bottom: 40px;*/
/*}*/
/*article div {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding-top: 15px;*/
/*}*/

div h2 {
    font-size: 2.0em;
    font-weight: bold;
}

div h3 {
    color: #E8CE85;
    font-weight: bold;
    font-size: 1.5em;
}

/*article p {*/
    /*margin-top: 15px;*/
    /*font-weight: bold;*/
    /*color: #92979C;*/
/*}*/


/*article::after {*/
    /*content: '';*/
    /*display: block;*/
    /*clear: both;*/
/*}*/

aside a {
    color: #D9527A;
    text-decoration: none;
    font-size: 1.4em;
    display: block;
    padding: 11px 7px;
}

aside h2 {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1em;
}

aside ul {
    padding: 10px;
}

aside li {
    border-bottom: 1px solid #DDD;
}
nav li:first-of-type a, nav li a:hover {
    color: #000000;
}

/*aside li a:hover {*/
    /*background-color: rgba(200, 200, 200, 0.3);*/
    /*color: #A78185;*/
/*}*/

footer {
    background-color: #AEACA8;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    background-image: url('images/dark-wood.jpg');
    width: 940px;
}

body header h1{
    text-align: right;
    font-size: 40px;
    padding: 30px;


}
nav{
    height: auto;
    margin: 3px auto;
}

body nav ul li  {
    display: inline-block;
    color: #ffffff;
    list-style: none;
    padding: 10px;
}


body nav a {
    font-size: 1.3em;
    color: white;
    text-decoration: none;


}
body nav  a:hover {
    font-size: 1.3em;
    color: black;
    text-decoration: none;

}

main {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0 auto;
}

section.courses {
    text-align: left;
    float: left;
    width: 700px;
    border-right: 1px solid black;
}

article {
    width: 650px;
    height: 300px;
}

figure{
    /*width: 290px;*/
    /*float: left;*/
    padding: 10px 10px 25px 10px;
    margin-left: 10px;
    margin-top: 20px;
}

img{
    width: 290px;
}


div {
    text-align: left;
    padding: 50px;
}

article p {
    text-align: left;
    font-size: 1.1em;
}
aside
{
    width: 235px;
    float:left;
}
aside li{

    list-style: none;
}

footer {
    clear: both;
}